
img {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1;
}

#jumbotron {
    background-image: url(/img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    height: 300px;
}

.sonylogo img {
    width: 100px;
}

.col-8 img {
    width: 50px;
}

.orange {
    background-color: #CE3D0E;
}

.grey {
    color: grey;
}