
img {
    width: 100%;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 1;
    box-shadow: 0px 2px 5px black;
}

#jumbotron {
    background-image: url(/img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    padding-top: 400px;
    padding-bottom: 50px;
    
}

.sonylogo img {
    width: 100px;
}

.col-8 img {
    width: 50px;
}

.orange {
    background-color: #CE3D0E;
}

.grey {
    color: grey;
}

#central-jumbotron {
    background-image: url(/img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

#new-games {
    background-color: #1F1F1F;
    color: white;
}

.col-12 p {
    font-size: 18px;
}

#psplus {
    background-color: #BEBCBB;
}

.whitegrey {
    background-color: #D9DADC;
}

#psnow {
    background-color: #161C3B;
}

#blue {
    background-color: #00439C;
    color: white;
}

ul {
    list-style-type: none;
}

.sielogo {
    width: 200px;
}

a {
    text-decoration: none;
}

.decoration {
    text-decoration: underline;
}
